#form{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-image: url('./backgroud-create.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#form form{ 
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form h1{
  font-family: "Amatic SC", sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  color: white;
}

.inputs{
    margin: auto;
    width: 50%;
    position: absolute;
    left: 0;
}

.checkboxes {
    width: 50%;
    position: absolute;
    right: 0;
    margin-top: 20px;
  }
  
  .checkboxes label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .checkboxes ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
  }
  
  .checkboxes li {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 5px;
  }
  
  .checkboxes li:last-child {
    margin-right: 0;
  }
  
  .checkboxes__input {
    position: relative;
    margin-right: 10px;
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #ccc;
    border-radius: 3px;
    outline: none;
    transition: border-color 0.3s;
    cursor: pointer;
  }
  
  .checkboxes__input:checked::before {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
left: 7px;
    width: 3px;
    height: 10px;
    border: solid rgb(255, 2, 2);
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
  }

  .submit-btn {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .submit-btn button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }


  .formInput{
    margin: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 60%;
}



label{
    font-family: "Amatic SC", sans-serif;
    font-size: 1.5rem;
    color: rgb(15, 3, 3);
}

.formInput span{
    font-size: 10px;
    padding: 0px;
    color: red;
    display: none;
}

input:invalid[focused="true"]{
    border: 1px solid red;
}

input:invalid[focused="true"] ~ span{
    display: block;
}

.inputs-container{
  width: 80%;
  margin: auto;
  padding: 20px; /* Añade un espacio interno alrededor del contenedor */
  border: 1px solid rgba(113, 113, 113, 0.318); /* Añade un borde alrededor del contenedor */
  border-radius: 10px; /* Redondea las esquinas del contenedor */
  background-color: #000000a5
}
  




/*popups*/

.container-popup {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 20px;
}

.container-popup-error {
  background-color: #FFBABA;
  color: #D8000C;
}

.container-popup-exito {
  background-color: #DFF2BF;
  color: #4F8A10;
}

.titulo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.mensaje {
  font-size: 18px;
}


.btn {
  margin-top: 20px;
  padding: 5px 10px;
  border: 2px solid #333;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #333;
  color: #fff;
}