.formInput{
    margin: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 60%;
}

input{
    display: block; 
  margin-bottom: 10px; 
  padding: 10px; 
  border: none; 
  border-radius: 5px; 
  background-color: #ffffff87;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1); 
}


label{
    font-family: "Amatic SC", sans-serif;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}

.formInput span{
    font-size: 15px;
    padding: 0px;
    color: red;
    display: none;
}

input:invalid[focused="true"]{
    border: 1px solid red;
}

input:invalid[focused="true"] ~ span{
    display: block;
}