.container-detail{
    
    height: 100%;
     width: 100%;
  background-image: url('./background.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container-detail strong {

  color: red;
}


.receta {
  background-color: rgba(255, 255, 255, 0.715);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  border: 2px solid rgb(60, 60, 60);
  padding: 20px;
  border-radius: 10px;
}

.receta-titulo {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.receta-imagen {
  width: 100%;
  max-width: 250px;
  height: auto;
  margin-bottom: 20px;
}

.receta-tipos-dieta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.receta-tipos-dieta h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.receta-tipos-dieta ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.receta-tipos-dieta li {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.receta-resumen {
  margin-bottom: 20px;
}

.receta-resumen h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.receta-resumen p {
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
}

.receta-healthscore {
  margin-bottom: 20px;
}

.receta-healthscore h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.receta-healthscore p {
  font-size: 18px;
}

.receta-preparacion {
  margin-bottom: 20px;
}

.receta-preparacion h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.receta-preparacion ol {
  list-style-type: decimal;
  margin: 0;
  padding: 0;
}

.receta-preparacion li {
  font-size: 18px;
  line-height: 1.5;
}



.receta-pasos-lista {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s linear;
  z-index: 9999;
}

.receta-pasos-lista.mostrar {
  opacity: 1;
  transform: translate(-50%, -50%) scale(0.8);
  width: 100%;
}


.receta-popup {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 0 auto;
}

.receta-popup h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.receta-pasos {
  list-style: none;
  padding: 0;
}

.receta-pasos-lista li {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
}

.cerrar-popup {
  background-color: #ccc;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.cerrar-popup:hover {
  background-color: #6a6c69
  
}






