.Home {
    background-color: #2a2a2a;
    text-align: center;
    height: 100vh;
}

.center{
    display: flex;
    flex-direction: row;
}

.column{
    background-color: #2a2a2a;
    padding-left: 15%;
    padding-top: 60px;
    height: 100%;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.recipe-container{
    background-color: #2a2a2a;
    flex: 1;
    overflow-y: auto;
    margin: 20px 0px 40px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}

/**/

#loading {
  border-radius: 5px;
  position: fixed;
  top: 10%;
  width: 85%;
  height: 83%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}