.pagination {
  background-image: url('./pruebita.jpeg');
  background-size: 100% 60px; /* Establecer el ancho al 100% y el alto a 200px */
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
 
}

.numbers {
  display: flex;
  justify-content: center;
}

.numbers button {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  color: white;
  background-color: #280902;
  margin: 5px 10px 5px 10px;
  font-size: 1.4rem;
  width: 25px;
}

.numbers p {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  color: white;
  background-color: #280902;
  margin: 5px 10px 5px 10px;
  font-size: 1.4rem;
  width: 100%;
}

.numbers button:hover {
  background-color: #594a47c3;;
}